<form class="form-inline" action="/action_page.php">
  <input class="form-control mr-sm-2" type="text" placeholder="Search..." #txtBusqueda
    (keyup)="buscar(txtBusqueda.value)">
</form>

<br>
<div class="row" *ngIf="txtBusqueda.value.length === 1">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando...</h4>
      <br>
      <div class="spinner-grow text-primary"></div>
      <div class="spinner-grow text-light"></div>
      <p class="mb-0"> Por favor espere</p>
    </div>
  </div>
</div>

<div class="container" *ngIf="txtBusqueda.value.length === 0">
  <h2>Diagnosticos almacenados ({{totalDiagnosticos}})</h2>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Empresa </th>
        <th>Firmado por </th>
        <th>Tipo de organizacion </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dig of diagnosticos">
        <td>{{dig.nombreEmpresa}}</td>
        <td>{{dig.firma}}</td>
        <td>{{dig.typeOrganizacion}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- busqueda -->

<div class="table-responsive" *ngIf="txtBusqueda.value.length > 2">
  <div *ngFor="let dig of diagnostico">
    <b> Nombre de la empresa: </b>
    <p>{{dig.nombreEmpresa}} </p>
    <b> firma: </b>
    <p>{{dig.firma}}</p>
    <b> autoriza: </b>
    <p>{{dig.autoriza}}</p>
    <b> antiguedad: </b>
    <p>{{dig.antiguedad}}</p>
    <b> tipo de organizacion: </b>
    <p>{{dig.typeOrganizacion}}</p>
    <b> Socio #1: </b>
    <p>{{dig.dSocio1}}</p>
    <b> Socio #2: </b>
    <p>{{dig.dSocio2}}</p>
    <b> Socio #3: </b>
    <p>{{dig.dSocio3}}</p>
    <b> Tipo Sociedad: </b>
    <p>{{dig.eTipoSociedad}}</p>
    <b> Politicas: </b>
    <p>{{dig.fPoliticas}}</p>
    <b> Espeficicacion de Politicas: </b>
    <p>{{dig.gPoliticasSi}}</p>
    <b> Seguro Empresarial: </b>
    <p>{{dig.hSeguroEmpresarial}}</p>
    <b> Organigrama: </b>
    <p>{{dig.iOrganigrama}}</p>
    <h3>Etapa 2</h3>
    <b> Vision: </b>
    <p>{{dig.aVision}}</p>
    <b> Mision: </b>
    <p>{{dig.bMision}}</p>
    <b> Creencias: </b>
    <p>{{dig.cCreencias}}</p>
    <b> Valores: </b>
    <p>{{dig.dValores}}</p>
    <b> Principios: </b>
    <p>{{dig.ePrincipios}}</p>
    <b> Tipo de liderazgo: </b>
    <p>{{dig.fTipoDeLiderazgo}}</p>
    <b> Equipo directivo: </b>
    <p>{{dig.gEquipoDirectivo}}</p>
    <b> Logros: </b>
    <p>{{dig.hLogros}}</p>
    <b> Proyectos: </b>
    <p>{{dig.iProyectos}}</p>
    <b> Fortalezas directivo: </b>
    <p>{{dig.fortalezasDirectivo}}</p>
    <b> Debilidades directivo: </b>
    <p>{{dig.debilidadesDirectivo}}</p>
    <h3>Etapa 3 </h3>
    <b> Programa de crecimiento: </b>
    <p>{{dig.aProgramaCrecimiento}}</p>
    <b> Rasgos: </b>
    <p>{{dig.bRasgos}}</p>
    <b> Capacitacion: </b>
    <p>{{dig.cCapacitacion}}</p>
    <b> Plan de vida: </b>
    <p>{{dig.dPlanDeVida}}</p>
    <b> Induccion: </b>
    <p>{{dig.eInduccion}}</p>
    <b> Porque: </b>
    <p>{{dig.ePorque}}</p>
    <b> Mujeres: </b>
    <p>{{dig.fMujeres}}</p>
    <b> Hombres: </b>
    <p>{{dig.gHombres}}</p>
    <b> ha considerado su organización involucrarmás personal femenino: </b>
    <p>{{dig.hReactivo}}</p>
    <b> Fortalezas </b>
    <p>{{dig.fortalezasGeneral}}</p>
    <b> Debilidades: </b>
    <p>{{dig.debilidadesGeneral}}</p>
    <H3>Etapa 4</H3>
    <b> Objetivos: </b>
    <p>{{dig.aObjetivos}}</p>
    <b> FODA TIME: </b>
    <p>{{dig.bFodaTime}}</p>
    <b> FODA PLANEA: </b>
    <p>{{dig.bFodaPlanea}}</p>
    <b> FODA OPORTUNIDADES: </b>
    <p>{{dig.bFodaOportunidades}}</p>
    <b> FODA AMENAZAS: </b>
    <p>{{dig.bFodaAmenazas}}</p>
    <b> FODA ESTRATEGIA: </b>
    <p>{{dig.bFodaEstrategia}}</p>
    <b> Control de gestion: </b>
    <p>{{dig.cControlGestion}}</p>
    <b> Gestion de esquema: </b>
    <p>{{dig.cEsquema}}</p>
    <div *ngIf="dig.bPlantas">

      <h3>Etapa 5</h3>
      <b> Tipo de empresa: </b>
      <p>{{dig.aTipoEmpresa}}</p>
      <b> Cantidad de plantas: </b>
      <p>{{dig.bPlantas}}</p>
      <b> Tamaño en m2: </b>
      <p>{{dig.bTamano}}</p>
      <b> Lineas Productivas: </b>
      <p>{{dig.cLineasPro}}</p>
      <b> Numero de empleados: </b>
      <p>{{dig.dNumerosEmpleados}}</p>
      <b> Capacidad Productiva: </b>
      <p>{{dig.eCapacidadProductiva}}</p>
      <b> Ha realizado modificaciones: </b>
      <p>{{dig.fModificacionsPlanta}}</p>
      <b> Por que las realizo: </b>
      <p>{{dig.gPorqueModificacion}}</p>
      <b> Porcedencia de tecnologia: </b>
      <p>{{dig.hTecnologia}}</p>
      <b> Mantenimiento y reparacion: </b>
      <p>{{dig.iManteyRep}}</p>
      <b> Materias Prima: </b>
      <p>{{dig.jMateriaPrima}}</p>
      <b> Herramientas: </b>
      <p>{{dig.kHerramientas}}</p>
      <b> Suministros: </b>
      <p>{{dig.lSuministroG}}</p>
      <b> Fortalezas: </b>
      <p>{{dig.mFortalezas}}</p>
      <b> Debilidades: </b>
      <p>{{dig.mDebilidades}}</p>
    </div>
    <h3>Etapa 6</h3>
    <b> Departamento de mercadotecnia: </b>
    <p>{{dig.aMercadotecnica}}</p>
    <b> Participacion de mercado: </b>
    <p>{{dig.bParticipacion}}</p>
    <b> Lineas producto: </b>
    <p>{{dig.cLineasProd}}</p>
    <b> Promedio de linea : </b>
    <p>{{dig.dProdProm}}</p>
    <b> Registros de marca: </b>
    <p>{{dig.eRegMar}}</p>
    <b> Ha considerado dentro de su promoción venderlea empresas reconocidas comercialmente en nuestro país: </b>
    <p>{{dig.fProm}}</p>
    <b> Cadena de distribucion: </b>
    <p>{{dig.gCadenaDis}}</p>
    <b> Escala: </b>
    <p>{{dig.hEscala}}</p>
    <b> Tipo de publicidad: </b>
    <p>{{dig.iTipoing}}</p>
    <b> Fuerza de ventas: </b>
    <p>{{dig.jFuerzaVen}}</p>
    <b> Tipo de capacitacion: </b>
    <p>{{dig.kTipoDeCapac}}</p>
    <b> Fortalezas: </b>
    <p>{{dig.lFortalezas}}</p>
    <b> Debilidades: </b>
    <p>{{dig.lDebilidades}}</p>
    <h3>Etapa 7</h3>
    <b> Patentes: </b>
    <p>{{dig.aPatentes}}</p>
    <b> Investigacion de proyectos: </b>
    <p>{{dig.bInvProyect}}</p>
    <b> Investigacion nube: </b>
    <p>{{dig.cInvUniv}}</p>
    <b> Considera que sus productos tienen la calidad adecuada para ser proveedores de empresas exportadoras potenciales
      a
      Europa, Asia y Norte América.: </b>
    <p>{{dig.dProdCal}}</p>
    <b> Especificaciones: </b>
    <p>{{dig.eProveeduria}}</p>
    <h3>Etapa 8</h3>
    <b> Principales objetivos: </b>
    <p>{{dig.aPrincObj}}</p>
    <b> Persona encargada: </b>
    <p>{{dig.cPersonaFina}}</p>
    <b> Presupuesto: </b>
    <p>{{dig.dPresupuesto}}</p>
    <b> Endeudamiento: </b>
    <p>{{dig.eEndeudamiento}}</p>
    <b> Ventas credito: </b>
    <p>{{dig.fVentasCredito}}</p>
    <b> Apalancamiento: </b>
    <p>{{dig.gApalancamiento}}</p>
    <b> Donativos a asociaciones: </b>
    <p>{{dig.hMinImpA}}</p>
    <b> Contratacion de Outsourcing: </b>
    <p>{{dig.hMinImpB}}</p>
    <b> Otros recursos Fiscales: </b>
    <p>{{dig.hMinImpC}}</p>
    <h3>Etapa 9</h3>
    <b> Cadena de valor: </b>
    <p>{{dig.aCadenaValor}}</p>
    <b> Cadena de valor descripcion : </b>
    <p>{{dig.aCadenaValorPor}}</p>
    <b> Ventaja competitiva: </b>
    <p>{{dig.cVentajaComp}}</p>
    <b> Alianzas: </b>
    <p>{{dig.dConsiAli}}</p>
    <b> Oportunidades: </b>
    <p>{{dig.eConoPort}}</p>
    <b> Certificaciones: </b>
    <p>{{dig.fCertificaciones}}</p>
    <b> Tipo de certificacion: </b>
    <p>{{dig.gCertiType}}</p>
    <b> Cules: </b>
    <p>{{dig.gCertiTypeCuales}}</p>
    <b> ¿Conoce a detalle los requisitos y proceso de cada certificación que requiere? </b>
    <p>{{dig.hConoceA}}</p>
    <b> ¿Qué empresa los asesoro? </b>
    <p>{{dig.hConoceB}}</p>
    <b> ¿Desde cuándo inicio el trámite? </b>
    <p>{{dig.hConoceC}}</p>
    <b> ¿Quién coordina el trámite en la empresa? </b>
    <p>{{dig.hConoceD}}</p>
    <b> ¿Cuáles manuales ya tienen terminados? </b>
    <p>{{dig.hConoce5}}</p>
    <b> ¿Cuántas personas tienen a su cargo la documentación de la empresa para la certificación? </b>
    <p>{{dig.hConoce6}}</p>
    <b> ¿Tiene contratada alguna consultora para tramitar la certificación? ¿Si es negativa su respuesta cual es la
      razón de no
      contratarla? </b>
    <p>{{dig.hConoce7}}</p>
    <b> Cuáles la razón por la que no se ha terminado el trámite? </b>
    <p>{{dig.hConoce8}}</p>
    <b> ¿Cuál ha sido el costo o beneficio que le ha dado el no obtener la certificación? </b>
    <p>{{dig.hConoce9}}</p>
    <b> ¿Conoce el costo o beneficio que le daría terminar el proceso y obtenerla? </b>
    <p>{{dig.hConoce10}}</p>
    <b> Comentarios Adicionales </b>
    <p>{{dig.iComentariosAdi}}</p>
    <b> estados financieros, Balance General, Flujo de Efectivo, Estado de Resultados, así como sus principales
      indicadores financieros. </b>
    <p>{{dig.file1}}</p>
    <b> Archivo Cadena de valor </b>
    <p>{{dig.file2}}</p>

    <!-- <b> firma: </b>  <p>{{dig.nombreEmpresa}} </p> -->

  </div>

</div>




<!-- <app-grafica></app-grafica> -->
