<form class="form-inline" action="/action_page.php">
  <input class="form-control mr-sm-2" type="text" placeholder="Search..." #txtBusqueda
    (keyup)="buscar(txtBusqueda.value)">
</form>

<br>
<div class="row" *ngIf="txtBusqueda.value.length === 1">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando...</h4>
      <br>
      <div class="spinner-grow text-primary"></div>
      <div class="spinner-grow text-light"></div>
      <p class="mb-0"> Por favor espere</p>
    </div>
  </div>
</div>

<div class="container" *ngIf="txtBusqueda.value.length === 0">
  <h2>Diagnosticos almacenados ({{totalDiagnosticos}})</h2>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Empresa </th>
        <th>Firmado por </th>
        <th>Tipo de organizacion </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dig of diagnosticos">
        <td>{{dig.nombreEmpresa}}</td>
        <td>{{dig.firma}}</td>
        <td>{{dig.typeOrganizacion}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- busqueda -->

<div class="table-responsive" *ngIf="txtBusqueda.value.length > 2">
  <div *ngFor="let dig of diagnostico">
    <b> Nombre de la empresa: </b>
    <p>{{dig.nombreEmpresa}} </p>
    <b> firma: </b>
    <p>{{dig.firma}}</p>
    <b> autoriza: </b>
    <p>{{dig.autoriza}}</p>
    <b> antiguedad: </b>
    <p>{{dig.antiguedad}}</p>
    <b> typeOrganizacion: </b>
    <p>{{dig.typeOrganizacion}}</p>
    <b> dSocio1: </b>
    <p>{{dig.dSocio1}}</p>
    <b> dSocio2: </b>
    <p>{{dig.dSocio2}}</p>
    <b> dSocio3: </b>
    <p>{{dig.dSocio3}}</p>
    <b> eTipoSociedad: </b>
    <p>{{dig.eTipoSociedad}}</p>
    <b> fPoliticas: </b>
    <p>{{dig.fPoliticas}}</p>
    <b> gPoliticasSi: </b>
    <p>{{dig.gPoliticasSi}}</p>
    <b> hSeguroEmpresarial: </b>
    <p>{{dig.hSeguroEmpresarial}}</p>
    <b> iOrganigrama: </b>
    <p>{{dig.iOrganigrama}}</p>

    <b> aVision: </b>
    <p>{{dig.aVision}}</p>
    <b> bMision: </b>
    <p>{{dig.bMision}}</p>
    <b> cCreencias: </b>
    <p>{{dig.cCreencias}}</p>
    <b> title: </b>
    <p>{{dig.dValores}}</p>
    <b> title: </b>
    <p>{{dig.ePrincipios}}</p>
    <b> title: </b>
    <p>{{dig.fTipoDeLiderazgo}}</p>
    <b> title: </b>
    <p>{{dig.gEquipoDirectivo}}</p>
    <b> title: </b>
    <p>{{dig.hLogros}}</p>
    <b> title: </b>
    <p>{{dig.iProyectos}}</p>
    <b> title: </b>
    <p>{{dig.fortalezasDirectivo}}</p>
    <b> title: </b>
    <p>{{dig.debilidadesDirectivo}}</p>
    <b> title: </b>
    <p>{{dig.aProgramaCrecimiento}}</p>
    <b> title: </b>
    <p>{{dig.bRasgos}}</p>
    <b> title: </b>
    <p>{{dig.cCapacitacion}}</p>
    <b> title: </b>
    <p>{{dig.dPlanDeVida}}</p>
    <b> title: </b>
    <p>{{dig.eInduccion}}</p>
    <b> title: </b>
    <p>{{dig.ePorque}}</p>
    <b> title: </b>
    <p>{{dig.fMujeres}}</p>
    <b> title: </b>
    <p>{{dig.gHombres}}</p>
    <b> title: </b>
    <p>{{dig.hReactivo}}</p>
    <b> title: </b>
    <p>{{dig.fortalezasGeneral}}</p>
    <b> title: </b>
    <p>{{dig.debilidadesGeneral}}</p>

    <b> title: </b>
    <p>{{dig.aObjetivos}}</p>
    <b> title: </b>
    <p>{{dig.bFodaTime}}</p>
    <b> title: </b>
    <p>{{dig.bFodaPlanea}}</p>
    <b> title: </b>
    <p>{{dig.bFodaOportunidades}}</p>
    <b> title: </b>
    <p>{{dig.bFodaAmenazas}}</p>
    <b> title: </b>
    <p>{{dig.bFodaEstrategia}}</p>
    <b> title: </b>
    <p>{{dig.cControlGestion}}</p>
    <b> title: </b>
    <p>{{dig.cEsquema}}</p>

    <b> title: </b>
    <p>{{dig.aTipoEmpresa}}</p>
    <b> title: </b>
    <p>{{dig.bPlantas}}</p>
    <b> title: </b>
    <p>{{dig.bTamano}}</p>
    <b> title: </b>
    <p>{{dig.cLineasPro}}</p>
    <b> title: </b>
    <p>{{dig.dNumerosEmpleados}}</p>
    <b> title: </b>
    <p>{{dig.eCapacidadProductiva}}</p>
    <b> title: </b>
    <p>{{dig.fModificacionsPlanta}}</p>
    <b> title: </b>
    <p>{{dig.gPorqueModificacion}}</p>
    <b> title: </b>
    <p>{{dig.hTecnologia}}</p>
    <b> title: </b>
    <p>{{dig.iManteyRep}}</p>
    <b> title: </b>
    <p>{{dig.jMateriaPrima}}</p>
    <b> title: </b>
    <p>{{dig.kHerramientas}}</p>
    <b> title: </b>
    <p>{{dig.lSuministroG}}</p>
    <b> title: </b>
    <p>{{dig.mFortalezas}}</p>
    <b> title: </b>
    <p>{{dig.mDebilidades}}</p>

    <b> title: </b>
    <p>{{dig.aMercadotecnica}}</p>
    <b> title: </b>
    <p>{{dig.bParticipacion}}</p>
    <b> title: </b>
    <p>{{dig.cLineasProd}}</p>
    <b> title: </b>
    <p>{{dig.dProdProm}}</p>
    <b> title: </b>
    <p>{{dig.eRegMar}}</p>
    <b> title: </b>
    <p>{{dig.fProm}}</p>
    <b> title: </b>
    <p>{{dig.gCadenaDis}}</p>
    <b> title: </b>
    <p>{{dig.hEscala}}</p>
    <b> title: </b>
    <p>{{dig.iTipoing}}</p>
    <b> title: </b>
    <p>{{dig.jFuerzaVen}}</p>
    <b> title: </b>
    <p>{{dig.kTipoDeCapac}}</p>
    <b> title: </b>
    <p>{{dig.lFortalezas}}</p>
    <b> title: </b>
    <p>{{dig.lDebilidades}}</p>

    <b> title: </b>
    <p>{{dig.aPatentes}}</p>
    <b> title: </b>
    <p>{{dig.bInvProyect}}</p>
    <b> title: </b>
    <p>{{dig.cInvUniv}}</p>
    <b> title: </b>
    <p>{{dig.dProdCal}}</p>
    <b> title: </b>
    <p>{{dig.eProveeduria}}</p>

    <b> title: </b>
    <p>{{dig.aPrincObj}}</p>
    <b> title: </b>
    <p>{{dig.cPersonaFina}}</p>
    <b> title: </b>
    <p>{{dig.dPresupuesto}}</p>
    <b> title: </b>
    <p>{{dig.eEndeudamiento}}</p>
    <b> title: </b>
    <p>{{dig.fVentasCredito}}</p>
    <b> title: </b>
    <p>{{dig.gApalancamiento}}</p>
    <b> title: </b>
    <p>{{dig.hMinImpA}}</p>
    <b> title: </b>
    <p>{{dig.hMinImpB}}</p>
    <b> title: </b>
    <p>{{dig.hMinImpC}}</p>

    <b> title: </b>
    <p>{{dig.aCadenaValor}}</p>
    <b> title: </b>
    <p>{{dig.aCadenaValorPor}}</p>
    <b> title: </b>
    <p>{{dig.cVentajaComp}}</p>
    <b> title: </b>
    <p>{{dig.dConsiAli}}</p>
    <b> title: </b>
    <p>{{dig.eConoPort}}</p>
    <b> title: </b>
    <p>{{dig.fCertificaciones}}</p>
    <b> title: </b>
    <p>{{dig.gCertiType}}</p>
    <b> title: </b>
    <p>{{dig.gCertiTypeCuales}}</p>
    <b> title: </b>
    <p>{{dig.hConoceA}}</p>
    <b> title: </b>
    <p>{{dig.hConoceB}}</p>
    <b> title: </b>
    <p>{{dig.hConoceC}}</p>
    <b> title: </b>
    <p>{{dig.hConoceD}}</p>
    <b> title: </b>
    <p>{{dig.hConoce5}}</p>
    <b> title: </b>
    <p>{{dig.hConoce6}}</p>
    <b> title: </b>
    <p>{{dig.hConoce7}}</p>
    <b> title: </b>
    <p>{{dig.hConoce8}}</p>
    <b> title: </b>
    <p>{{dig.hConoce9}}</p>
    <b> title: </b>
    <p>{{dig.hConoce10}}</p>
    <b> title: </b>
    <p>{{dig.iComentariosAdi}}</p>
    <b> title: </b>
    <p>{{dig.file1}}</p>
    <b> title: </b>
    <p>{{dig.file2}}</p>

    <!-- <b> firma: </b>  <p>{{dig.nombreEmpresa}} </p> -->

  </div>

</div>




<!-- <app-grafica></app-grafica> -->
