<p>inicio works!</p>
<!-- etapa1 -->
<div class="panel">
<p>text</p>

<h3>Etapa1: Datos Generales</h3>

<p>Nombre de su empresa</p>

<input type="text">

<p>Fecha de fundacion de la empresa</p>

<input type="date">

<p>Su organización es</p>

<select class="form-select" aria-label="Default select example">
  <option selected>Seleccionar</option>
  <option value="1">Familiar (todos los socios son parientes) </option>
  <option value="2">No familia (ninguno de los socios es pariente)</option>
  <option value="3">Mixta (cuenta con socios familiares y no familiares)</option>
</select>

<p>Nombre de los tres socios principales y si cuentan con un puesto dentro de la empresa
indique cuál es y marque “F” si es familiar</p>
<!-- puesto -->
<div>
  <input type="text"> <label> Puesto </label> <input type="text">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="familiar" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    F
  </label>
</div>
</div>
<div>
  <input type="text"> <label> Puesto </label> <input type="text">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="familiar" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    F
  </label>
</div>
</div>
<div>
  <input type="text"> <label> Puesto </label> <input type="text">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="familiar" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    F
  </label>
</div>
</div>


<label></label>
</div>
<!-- Fin parte 1 -->
