<form action="">

  <!----------------- etapa1 ----------------->
  <div class="etapa1">
    <div class="etapa__title">
      <h3>Etapa1: {{Preguntas.etapa1.titulo}}</h3>
    </div>

    <!-- #input nombre de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa1.a}}</label>
      <input type="text" id="nombreEmpresa" name="nombreEmpresa" class="form__input">
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <!-- #fecha fundacion de empresa -->
        <div class="form__container">
          <label class="form__label">{{Preguntas.etapa1.b}}</label>
          <input type="date" id="antiguedad" name="antiguedad" class="form__input">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <!-- #organizacion de empresa -->
        <div class="form__container">
          <label class="form__label">{{Preguntas.etapa1.c.pregunta}}</label>
          <select id="typeOrganizacion" name="typeOrganizacion" class="form__select"
            aria-label="Default select example">

            <option value="1" selected>Familiar (todos los socios son parientes) </option>
            <option value="2">No familia (ninguno de los socios es pariente)</option>
            <option value="3">Mixta (cuenta con socios familiares y no familiares)</option>
          </select>
        </div>
      </div>
    </div>

    <!-- #socios princiapales de empresa -->
    <p class="mb-4 form__label">{{Preguntas.etapa1.d}}</p>

    <div class="row">
      <div class="col-5">
        <div class="form__container">
          <label class="form__label">Nombre</label>
          <input type="text" id="dSocio1" name="dSocio1" class="form__input">
        </div>
      </div>

      <div class="col-5">
        <div class="form__container">
          <label class="form__label">Puesto</label>
          <input type="text" id="puesto1" class="form__input">
        </div>
      </div>

      <div class="col-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="familiar" id="familiar1">
          <label class="form-check-label" for="familiar1">
            F
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <div class="form__container">
          <label class="form__label">Nombre</label>
          <input type="text" id="dSocio2" name="dSocio2" class="form__input" autocomplete="off">
        </div>
      </div>

      <div class="col-5">
        <div class="form__container">
          <label class="form__label">Puesto</label>
          <input type="text" id="puesto2" class="form__input" autocomplete="off">
        </div>
      </div>

      <div class="col-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="familiar" id="familiar2">
          <label class="form-check-label" for="familiar2">
            F
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <div class="form__container">
          <label class="form__label">Nombre</label>
          <input type="text" id="dSocio3" name="dSocio3" class="form__input">
        </div>
      </div>

      <div class="col-5">
        <div class="form__container">
          <label class="form__label">Puesto</label>
          <input type="text" id="puesto3" class="form__input">
        </div>
      </div>

      <div class="col-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="familiar" id="familiar3">
          <label class="form-check-label" for="familiar3">
            F
          </label>
        </div>
      </div>
    </div>

    <!-- #tipo de sociedad legal que rige en empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa1.e}}</label>
      <input type="text" id="eTipoSociedad" name="eTipoSociedad" class="form__input" autocomplete="off">
    </div>

    <!-- #politicas y procedimientos de empresa -->
    <p class="mb-4 form__label">{{Preguntas.etapa1.f}}</p>

    <div class="form__container">
      <!-- <div class="form-check">
      <input class="form-check-input" type="radio" value="si" name="fPoliticas" id="fPoliticas"
        (change)="radioChange($event)">
      <label class="form-check-label" for="fPoliticas">
        Si
      </label>
    </div>
    <div class="form-check">
      <input checked class="form-check-input" type="radio" value="no" name="fPoliticas" id="radio2"
        (change)="radioChange($event)">
      <label class="form-check-label" for="radio2">
        No
      </label>
    </div> -->


      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="si" id="fPoliticas" name="fPoliticas"
          (change)="radioChange($event)">
        <label class="form-check-label" for="fPoliticas">
          Si
        </label>
      </div>
    </div>

    <!-- #la respuesta fue SI-->
    <div class="form__container" *ngIf="politicaSi">
      <label class="form__label">{{Preguntas.etapa1.g}}</label>
      <textarea id="gPoliticasSi" name="gPoliticasSi" class="form__input form_textarea"></textarea>
    </div>

    <!-- #cuenta con seguro de empresa -->
    <p class="mb-4 form__label">{{Preguntas.etapa1.h}}</p>

    <div class="form__container">
      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" value="si" name="radioBtn2" id="radio1"
          (change)="radioChange2($event)">
        <label class="form-check-label" for="radio1">
          Si
        </label>
      </div>
      <div class="form-check">
        <input checked class="form-check-input" type="radio" value="no" name="radioBtn2" id="radio2"
          (change)="radioChange2($event)">
        <label class="form-check-label" for="radio2">
          No
        </label>
      </div> -->

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="si" id="fSeguro" name="fSeguro"
          (change)="radioChange2($event)">
        <label class="form-check-label" for="fSeguro">
          Si
        </label>
      </div>
    </div>


    <!-- #la respuesta fue SI-->
    <div class="form__container" *ngIf="seguroSi">
      <label class="form__label">De qué tipo:</label>
      <textarea name="hSeguroEmpresarial" id="hSeguroEmpresarial" class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa1.i}}</label>
      <textarea id="iOrganigrama" name="iOrganigrama" class="form__input form_textarea"></textarea>
    </div>
  </div>

  <!----------------- etapa2 ----------------->
  <div class="etapa2">
    <div class="etapa__title">
      <h3>Etapa 2: {{Preguntas.etapa2.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa2.contenidos"></p>
    </div>

    <!-- #input vision de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.a}}</label>
      <textarea id="aVision" name="aVision" class="form__input form_textarea"></textarea>
    </div>

    <!-- #input mision de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.b}}</label>
      <textarea id="bMision" name="bMision" class="form__input form_textarea"></textarea>
    </div>

    <!-- #input creencias de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.c}}</label>
      <textarea id="cCreencias" name="cCreencias" class="form__input form_textarea"></textarea>
    </div>

    <!-- #input valores de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.d}}</label>
      <textarea id="dValores" name="dValores" class="form__input form_textarea"></textarea>
    </div>

    <!-- #input principios de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.e}}</label>
      <textarea id="ePrincipios" name="ePrincipios" class="form__input form_textarea"></textarea>
    </div>

    <div class="etapa__info">
      <h5>{{Preguntas.etapa2.f}}</h5>
      <p>{{Preguntas.etapa2.tipoLiderazgo}}</p>

      <ol>
        <li>
          <div>
            <b>{{Preguntas.etapa2.lid1.nombre}}</b>
            <p>{{Preguntas.etapa2.lid1.concepto}}</p>
          </div>
        </li>
        <li>
          <div>
            <b>{{Preguntas.etapa2.lid2.nombre}}</b>
            <p>{{Preguntas.etapa2.lid2.concepto}}</p>
          </div>
        </li>
        <li>
          <div>
            <b>{{Preguntas.etapa2.lid3.nombre}}</b>
            <p>{{Preguntas.etapa2.lid3.concepto}}</p>
          </div>
        </li>
        <li>
          <div>
            <b>{{Preguntas.etapa2.lid4.nombre}}</b>
            <p>{{Preguntas.etapa2.lid4.concepto}}</p>
          </div>
        </li>
        <li>
          <div>
            <b>{{Preguntas.etapa2.lid5.nombre}}</b>
            <p>{{Preguntas.etapa2.lid5.concepto}}</p>
          </div>
        </li>
      </ol>
    </div>

    <!-- #input tipo liderazgo de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.f_choice}}</label>
      <textarea id="fTipoDeLiderazgo" name="fTipoDeLiderazgo" class="form__input form_textarea"></textarea>
    </div>

    <!-- #input equipo de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.g}}</label>
      <textarea id="gEquipoDirectivo" name="gEquipoDirectivo" class="form__input form_textarea"></textarea>
    </div>

    <!-- #input logros de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.h}}</label>
      <textarea id="hLogros" name="hLogros" class="form__input form_textarea"></textarea>
    </div>

    <!-- #input proyectos de empresa -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa2.i}}</label>
      <textarea id="iProyectos" name="iProyectos" class="form__input form_textarea"></textarea>
    </div>

    <!-- fortalezas y debilidades -->
    <div class="form__container fortaleza__debilidad">

      <p class="fort_deb_text">{{Preguntas.etapa3.textof}}</p>

      <div class="row">
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.fortalezas}}</p>
            <textarea id="fortalezasDirectivo" name="fortalezasDirectivo" class="form__input form_textarea"></textarea>
          </div>
        </div>
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.debilidades}}</p>
            <textarea id="debilidadesDirectivo" name="debilidadesDirectivo"
              class="form__input form_textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------- etapa3 ----------------->
  <div class="etapa3">
    <div class="etapa__title">
      <h3>Etapa 3: {{Preguntas.etapa3.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa3.contenido.p1"></p>
      <p [innerHTML]="Preguntas.etapa3.contenido.p2"></p>
      <p [innerHTML]="Preguntas.etapa3.contenido.p3"></p>
      <p [innerHTML]="Preguntas.etapa3.contenido.p4"></p>
      <p [innerHTML]="Preguntas.etapa3.contenido.p5"></p>
    </div>

    <!-- si/no cuentan con programa -->
    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa3.a}}</p>
      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div> -->

      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="aProgramaCrecimiento" id="aProgramaCrecimiento">
        <label class="form-check-label" for="aProgramaCrecimiento">
          Si
        </label>
      </div>

    </div>

    <!-- #rasgos -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa3.b}}</label>
      <textarea id="bRasgos" name="bRasgos" class="form__input form_textarea"></textarea>
    </div>

    <!-- #cCapacitacion -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa3.c}}</label>
      <textarea id="cCapacitacion" name="cCapacitacion" class="form__input form_textarea"></textarea>
    </div>

    <!-- #dPlanDeVida -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa3.d}}</label>
      <textarea id="dPlanDeVida" name="dPlanDeVida" class="form__input form_textarea"></textarea>
    </div>

    <!-- si/no -->
    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa3.e}}</p>
      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" value="si" name="radioBtn1" id="radio1Si">
        <label class="form-check-label" for="radio1Si">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="no" name="radioBtn1" id="radio1No" checked>
        <label class="form-check-label" for="radio1No">
          No
        </label>
      </div> -->


      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="si" name="eInduccion" id="eInduccion" checked>
        <label class="form-check-label" for="eInduccion">
          Si
        </label>
      </div>

      <div>
        <p>Por qué:</p>
        <textarea id="ePorque" name="ePorque" class="form__input form_textarea"></textarea>
      </div>
    </div>

    <!-- #num empleadas -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa3.f}}</label>
      <input type="text" id="numMujeres" class="form__input">
    </div>

    <!-- #num empleados -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa3.g}}</label>
      <input type="text" id="numHombres" class="form__input">
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa3.h}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn2" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn2" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
      <p>¿Por qué? o ¿Ya lo tiene?</p>
      <textarea id="personal" class="form__input form_textarea"></textarea>
    </div>

    <!-- fortalezas y debilidades -->
    <div class="form__container fortaleza__debilidad">

      <p class="fort_deb_text">{{Preguntas.etapa3.textof}}</p>

      <div class="row">
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.fortalezas}}</p>
            <textarea id="fortalezaEtapa3" class="form__input form_textarea"></textarea>
          </div>
        </div>
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.debilidades}}</p>
            <textarea id="debilidadEtapa3" class="form__input form_textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------- etapa4 ----------------->
  <div class="etapa4">
    <div class="etapa__title">
      <h3>Etapa 4: {{Preguntas.etapa4.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa4.contenido"></p>
    </div>


    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.a}}</label>
      <textarea id="objetivos" class="form__input form_textarea"></textarea>
    </div>

    <!-- #explique sobre equipo -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.b}}</label>
      <select id="foda_tiempo" class="form__select" aria-label="Default select example">

        <option value="0" selected>Nunca</option>
        <option value="1">Cada medio año </option>
        <option value="2">1 año</option>
        <option value="3">2 años</option>
        <option value="4">3 años</option>
      </select>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.b1}}</label>
      <textarea id="foda_quienes" class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.b2}}</label>
      <textarea id="foda_oportunidades" class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.b3}}</label>
      <textarea id="foda_amenazas" class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.b4}}</label>
      <textarea id="foda_estrategia" class="form__input form_textarea"></textarea>
    </div>

    <div class="etapa__info">
      <h5>{{Preguntas.etapa4.c.titulo}}</h5>
      <p [innerHTML]="Preguntas.etapa4.c.p1"></p>
      <p [innerHTML]="Preguntas.etapa4.c.p2"></p>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.c.p3}}</label>
      <textarea id="politicas" class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa4.c2}}</label>
      <textarea id="esquema" class="form__input form_textarea"></textarea>
    </div>
  </div>

  <!----------------- etapa5 ----------------->
  <div class="etapa5">
    <div class="etapa__title">
      <h3>Etapa 5: {{Preguntas.etapa5.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa5.contenido"></p>
    </div>


    <!-- #explique sobre equipo -->
    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa5.a}}</label>
      <select id="tipo_empresa" class="form__select" aria-label="Default select example">

        <option value="0" selected>Maquilador</option>
        <option value="1">Fabricante</option>
        <option value="2">Comercializadora</option>
      </select>
    </div>

    <!-- Se eligio maquilador -->
    <div>
      <div class="form__container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="">
              <label class="form__label">{{Preguntas.etapa5.b}}</label>
              <input type="number" id="numplanta" class="form__input" autocomplete="off">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="">
              <label class="form__label">{{Preguntas.etapa5.b2}}</label>
              <input type="number" id="tamanioplanta" class="form__input" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa5.c}}</label>
      <input type="number" id="lineaProduccion" class="form__input" autocomplete="off">
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa5.d}}</label>
      <input type="number" id="numEmpleados" class="form__input">
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa5.e}}</label>
      <textarea id="capacidadProductiva" class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa5.f}}</p>
      <div class="form-check">
        <input class="form-check-input" value="si" type="radio" name="radioModificacion" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="no" type="radio" name="radioModificacion" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
    </div>

    <div class="form__container">
      <label class="form__label">{{Preguntas.etapa5.g}}</label>
      <textarea id="modificacion" class="form__input form_textarea"></textarea>
    </div>


    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa5.h}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioTecnologia" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
          Nacional
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioTecnologia" id="radioNo">
        <label class="form-check-label" for="radioNo">
          Extranjera
        </label>
      </div>
      <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisTec" class="form__input">
      </div>
    </div>


    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa5.i}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMantenimiento" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
          Nacional
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMantenimiento" id="radioNo">
        <label class="form-check-label" for="radioNo">
          Extranjero
        </label>
      </div>
      <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisRepara" class="form__input">
      </div>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa5.j}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMateria" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
          Nacional
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMateria" id="radioNo">
        <label class="form-check-label" for="radioNo">
          Importada
        </label>
      </div>

      <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisMateria" class="form__input">
      </div>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa5.k}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioHerramienta" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
          Nacional
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioHerramienta" id="radioNo">
        <label class="form-check-label" for="radioNo">
          Importada
        </label>
      </div>
      <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisHerramienta" class="form__input">
      </div>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa5.l}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioSuministro" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
          Nacional
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioSuministro" id="radioNo">
        <label class="form-check-label" for="radioNo">
          Importada
        </label>
      </div>

      <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisSuministro" class="form__input">
      </div>
    </div>

    <!-- fortalezas y debilidades -->
    <div class="form__container fortaleza__debilidad">

      <p class="fort_deb_text">{{Preguntas.etapa5.m}}</p>

      <div class="row">
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.fortalezas}}</p>
            <textarea id="fortalezaEtapa5" class="form__input form_textarea"></textarea>
          </div>
        </div>
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.debilidades}}</p>
            <textarea id="debilidadEtapa5" class="form__input form_textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------- etapa6 ----------------->
  <div class="etapa6">
    <div class="etapa__title">
      <h3>Etapa 6: {{Preguntas.etapa6.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa6.contenido"></p>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa6.a}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa6.b}}</label>
      <textarea class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa6.c}}</label>
      <input type="number" id="" class="form__input" autocomplete="off">
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa6.d}}</label>
      <input type="number" id="" class="form__input" autocomplete="off">
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa6.e}}</label>
      <input type="number" id="" class="form__input" autocomplete="off">
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa6.f}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>

      <textarea class="form__input form_textarea" placeholder="¿Por qué?"></textarea>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa6.g}}</label>
      <textarea class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa6.h}}</label>
      <textarea class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa6.i}}</p>

      <div class="row">
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="flexCheckDefault">
              Revistas Especializadas
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="flexCheckChecked">
              flyers
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="flexCheckChecked">
              Folders con información especial
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="flexCheckDefault">
              trípticos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="flexCheckChecked">
              presentaciones PPT
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="">
            <label class="form-check-label" for="flexCheckChecked">
              Relaciones publicas
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa6.j}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa6.k}}</label>
      <textarea class="form__input form_textarea"></textarea>
    </div>

    <!-- fortalezas y debilidades -->
    <div class="form__container fortaleza__debilidad">

      <p class="fort_deb_text">{{Preguntas.etapa6.l}}</p>

      <div class="row">
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.fortalezas}}</p>
            <textarea class="form__input form_textarea"></textarea>
          </div>
        </div>
        <div class="col-6">
          <div>
            <p class="text">{{Preguntas.etapa3.debilidades}}</p>
            <textarea class="form__input form_textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------- etapa7 ----------------->
  <div class="etapa7">
    <div class="etapa__title">
      <h3>Etapa 7: {{Preguntas.etapa7.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa7.contenido"></p>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa7.a}}</label>
      <input type="number" id="" class="form__input" autocomplete="off">
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa7.b}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa7.c}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>

      <textarea class="form__input form_textarea" placeholder="¿Cuál?"></textarea>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa7.d}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>

      <textarea class="form__input form_textarea" placeholder="Por qué?"></textarea>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa7.e}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
    </div>
  </div>

  <!----------------- etapa8 ----------------->
  <div class="etapa8">
    <div class="etapa__title">
      <h3>Etapa 8: {{Preguntas.etapa8.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa8.contenido"></p>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa8.a}}</label>

      <textarea class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa8.b}}</label>

      <input type="file" class="form__input">
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa8.c}}</label>

      <input type="text" class="form__input">
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa8.d}}</p>

      <div class="subInput">
        <label for="">Producción:</label>
        <input type="text" class="form__input">
      </div>

      <div class="subInput">
        <label for="">Mercadotecnia:</label>
        <input type="text" class="form__input">
      </div>

      <div class="subInput">
        <label for="">Investigación y Desarrollo:</label>
        <input type="text" class="form__input">
      </div>

      <div class="subInput">
        <label for="">Reinversiones:</label>
        <input type="text" class="form__input">
      </div>

      <div class="subInput">
        <label for="">Pago de Deuda:</label>
        <input type="text" class="form__input">
      </div>

      <div class="subInput">
        <label for="">Otros (Especifique):</label>
        <input type="text" class="form__input">
      </div>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa8.e}}</label>

      <input type="text" class="form__input">
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa8.f}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa8.g}}</label>

      <input type="text" class="form__input">
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa8.h}}</p>

      <div class="subInput">
        <label for="">{{Preguntas.etapa8.ha}}</label>
        <input type="text" class="form__input">
      </div>

      <div class="subInput">
        <label for="">{{Preguntas.etapa8.hb}}</label>
        <input type="text" class="form__input">
      </div>

      <div class="subInput">
        <label for="">{{Preguntas.etapa8.hc}}</label>
        <input type="text" class="form__input">
      </div>

    </div>
  </div>

  <!----------------- etapa9 ----------------->
  <div class="etapa9">
    <div class="etapa__title">
      <h3>Etapa 9: {{Preguntas.etapa9.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa9.contenido.p1"></p>
      <p [innerHTML]="Preguntas.etapa9.contenido.p2"></p>
      <p [innerHTML]="Preguntas.etapa9.contenido.p3"></p>
      <p [innerHTML]="Preguntas.etapa9.contenido.p4"></p>
      <p [innerHTML]="Preguntas.etapa9.contenido.p5"></p>
      <p [innerHTML]="Preguntas.etapa9.contenido.p6"></p>

      <ol>
        <li>Logística interna</li>
        <li>Operaciones</li>
        <li>Logística externa</li>
        <li>Marketing y ventas</li>
        <li>Servicios</li>
      </ol>

      <p [innerHTML]="Preguntas.etapa9.contenido.p7"></p>

      <ol>
        <li>Infraestructura</li>
        <li>I & D</li>
        <li>Recursos humanos</li>
      </ol>

    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa9.a}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>

      <textarea class="form__input form_textarea" placeholder="Por qué?"></textarea>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa9.b}}</label>

      <input type="file" class="form__input">
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa9.c}}</label>

      <textarea class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa9.d}}</label>

      <textarea class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa9.e}}</label>

      <textarea class="form__input form_textarea"></textarea>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa9.f}}</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
          Si
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          No
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
          En Proceso
        </label>
      </div>
    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa9.g}}</p>

    </div>

    <div class="form__container">
      <p class="form__label">{{Preguntas.etapa9.h}}</p>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h1}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h2}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h3}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h4}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h5}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h6}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h7}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h8}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h9}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>

      <div>
        <label for="nombreEmpresa">{{Preguntas.etapa9.h10}}</label>
        <textarea class="form__input form_textarea"></textarea>
      </div>
    </div>

    <div class="form__container">
      <label for="nombreEmpresa" class="form__label">{{Preguntas.etapa9.i}}</label>

      <textarea class="form__input form_textarea"></textarea>
    </div>
  </div>

  <!----------------- etapa10 ----------------->
  <div class="etapa10">
    <div class="etapa__title">
      <h3>Etapa 10: {{Preguntas.etapa10.titulo}}</h3>
    </div>

    <div class="etapa__info">
      <p [innerHTML]="Preguntas.etapa10.contenido1"></p>

      <ul>
        <li>
          {{Preguntas.etapa10.contenido2}}
        </li>
        <li>
          {{Preguntas.etapa10.contenido3}}
        </li>
        <li>
          {{Preguntas.etapa10.contenido4}}
        </li>
        <li>
          {{Preguntas.etapa10.contenido5}}
        </li>
      </ul>

      <span>{{Preguntas.etapa10.agradecimiento}}</span>
    </div>
  </div>

</form>