<div class="etapa__title">
    <h3>Etapa 5: {{Preguntas.etapa5.titulo}}</h3>
</div>

<div class="etapa__info">
    <p [innerHTML]="Preguntas.etapa5.contenido"></p>
</div>


<!-- #explique sobre equipo -->
<div class="form__container">
    <label class="form__label">{{Preguntas.etapa5.a}}</label>
    <select id="tipo_empresa" class="form__select" aria-label="Default select example">

        <option value="0" selected>Maquilador</option>
        <option value="1">Fabricante</option>
        <option value="2">Comercializadora</option>
    </select>
</div>

<!-- Se eligio maquilador -->
<div>
    <div class="form__container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="">
                    <label class="form__label">{{Preguntas.etapa5.b}}</label>
                    <input type="number" id="numplanta" class="form__input" autocomplete="off">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="">
                    <label class="form__label">{{Preguntas.etapa5.b2}}</label>
                    <input type="number" id="tamanioplanta" class="form__input" autocomplete="off">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form__container">
    <label class="form__label">{{Preguntas.etapa5.c}}</label>
    <input type="number" id="lineaProduccion" class="form__input" autocomplete="off">
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa5.d}}</label>
    <input type="number" id="numEmpleados" class="form__input">
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa5.e}}</label>
    <textarea id="capacidadProductiva" class="form__input form_textarea"></textarea>
</div>

<div class="form__container">
    <p class="form__label">{{Preguntas.etapa5.f}}</p>
    <div class="form-check">
        <input class="form-check-input" value="si" type="radio" name="radioModificacion" id="radioSi">
        <label class="form-check-label" for="radioSi">
            Si
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" value="no" type="radio" name="radioModificacion" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
            No
        </label>
    </div>
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa5.g}}</label>
    <textarea id="modificacion" class="form__input form_textarea"></textarea>
</div>


<div class="form__container">
    <p class="form__label">{{Preguntas.etapa5.h}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioTecnologia" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
            Nacional
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioTecnologia" id="radioNo">
        <label class="form-check-label" for="radioNo">
            Extranjera
        </label>
    </div>
    <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisTec" class="form__input">
    </div>
</div>


<div class="form__container">
    <p class="form__label">{{Preguntas.etapa5.i}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMantenimiento" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
            Nacional
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMantenimiento" id="radioNo">
        <label class="form-check-label" for="radioNo">
            Extranjero
        </label>
    </div>
    <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisRepara" class="form__input">
    </div>
</div>

<div class="form__container">
    <p class="form__label">{{Preguntas.etapa5.j}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMateria" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
            Nacional
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioMateria" id="radioNo">
        <label class="form-check-label" for="radioNo">
            Importada
        </label>
    </div>

    <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisMateria" class="form__input">
    </div>
</div>

<div class="form__container">
    <p class="form__label">{{Preguntas.etapa5.k}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioHerramienta" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
            Nacional
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioHerramienta" id="radioNo">
        <label class="form-check-label" for="radioNo">
            Importada
        </label>
    </div>
    <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisHerramienta" class="form__input">
    </div>
</div>

<div class="form__container">
    <p class="form__label">{{Preguntas.etapa5.l}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioSuministro" id="radioSi" checked>
        <label class="form-check-label" for="radioSi">
            Nacional
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioSuministro" id="radioNo">
        <label class="form-check-label" for="radioNo">
            Importada
        </label>
    </div>

    <div>
        <p>¿De qué pais?</p>
        <input type="text" id="paisSuministro" class="form__input">
    </div>
</div>

<!-- fortalezas y debilidades -->
<div class="form__container fortaleza__debilidad">

    <p class="fort_deb_text">{{Preguntas.etapa5.m}}</p>

    <div class="row">
        <div class="col-6">
            <div>
                <p class="text">{{Preguntas.etapa3.fortalezas}}</p>
                <textarea id="fortalezaEtapa5" class="form__input form_textarea"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div>
                <p class="text">{{Preguntas.etapa3.debilidades}}</p>
                <textarea id="debilidadEtapa5" class="form__input form_textarea"></textarea>
            </div>
        </div>
    </div>
</div>