<!-- etapa3 -->
<div class="etapa__title">
    <h3>Etapa 3: {{Preguntas.etapa3.titulo}}</h3>
</div>

<div class="etapa__info">
    <p [innerHTML]="Preguntas.etapa3.contenido.p1"></p>
    <p [innerHTML]="Preguntas.etapa3.contenido.p2"></p>
    <p [innerHTML]="Preguntas.etapa3.contenido.p3"></p>
    <p [innerHTML]="Preguntas.etapa3.contenido.p4"></p>
    <p [innerHTML]="Preguntas.etapa3.contenido.p5"></p>
</div>

<!-- si/no cuentan con programa -->
<div class="form__container">
    <p class="form__label">{{Preguntas.etapa3.a}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioSi">
        <label class="form-check-label" for="radioSi">
            Si
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn1" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
            No
        </label>
    </div>
</div>

<!-- #explique sobre equipo -->
<div class="form__container">
    <label class="form__label">{{Preguntas.etapa3.b}}</label>
    <textarea id="explique_equipo" class="form__input form_textarea"></textarea>
</div>

<!-- #input mision de empresa -->
<div class="form__container">
    <label class="form__label">{{Preguntas.etapa3.c}}</label>
    <textarea id="capacitacion" class="form__input form_textarea"></textarea>
</div>

<!-- #input creencias de empresa -->
<div class="form__container">
    <label class="form__label">{{Preguntas.etapa3.d}}</label>
    <textarea id="plan_vida" class="form__input form_textarea"></textarea>
</div>

<!-- si/no -->
<div class="form__container">
    <p class="form__label">{{Preguntas.etapa3.e}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="si" name="radioBtn1" id="radio1Si">
        <label class="form-check-label" for="radio1Si">
            Si
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="no" name="radioBtn1" id="radio1No" checked>
        <label class="form-check-label" for="radio1No">
            No
        </label>
    </div>
    <div>
        <p>Por qué:</p>
        <textarea id="induccion" class="form__input form_textarea"></textarea>
    </div>
</div>

<!-- #num empleadas -->
<div class="form__container">
    <label class="form__label">{{Preguntas.etapa3.f}}</label>
    <input type="text" id="numMujeres" class="form__input">
</div>

<!-- #num empleados -->
<div class="form__container">
    <label class="form__label">{{Preguntas.etapa3.g}}</label>
    <input type="text" id="numHombres" class="form__input">
</div>

<div class="form__container">
    <p class="form__label">{{Preguntas.etapa3.h}}</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn2" id="radioSi">
        <label class="form-check-label" for="radioSi">
            Si
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioBtn2" id="radioNo" checked>
        <label class="form-check-label" for="radioNo">
            No
        </label>
    </div>
    <p>¿Por qué? o ¿Ya lo tiene?</p>
    <textarea id="personal" class="form__input form_textarea"></textarea>
</div>

<!-- fortalezas y debilidades -->
<div class="form__container fortaleza__debilidad">

    <p class="fort_deb_text">{{Preguntas.etapa3.textof}}</p>

    <div class="row">
        <div class="col-6">
            <div>
                <p class="text">{{Preguntas.etapa3.fortalezas}}</p>
                <textarea id="fortalezaEtapa3" class="form__input form_textarea"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div>
                <p class="text">{{Preguntas.etapa3.debilidades}}</p>
                <textarea id="debilidadEtapa3" class="form__input form_textarea"></textarea>
            </div>
        </div>
    </div>
</div>