/* You can add global styles to this file, and also import other style files */
// html, body {
//   background-color: #1c1c1c;
//   color: white;
// }

* p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

$clr-primary: #009cde;
$clr-secondary: #006093;
$black: #000000;
$white: #ffffff;

$radius: 10px;

body {
    position: relative;
    background: url("../src/assets/images/fondo.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.logoUlead {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.etapa__title {
    margin-bottom: 30px;

    h3 {
        color: $clr-secondary;
    }
}

.etapa__info {
    h5 {
        color: $clr-secondary;
        margin-bottom: 20px;
    }
    p {
        padding-bottom: 30px;
    }
}

.panel {
    background: $white;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 120px;
    box-shadow: 0px 0px 15px $clr-secondary;

    @media screen and (max-width: 575px) {
        padding: 30px;
    }
}

.form__container {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;

    &:hover {
        border-color: $clr-secondary;
    }

    &:focus {
        border-color: $clr-primary;
    }

    .form__input,
    .form__select {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $clr-primary;
        border-radius: 5px;
        font-family: inherit;
        font-size: inherit;
        color: #000000;
        outline: none;
        padding: 0.5rem;
        background: none;
        transition: all 0.3s ease-in-out;

        &:focus {
            box-shadow: 0px 0px 10px $clr-secondary;
        }
    }

    .form_textarea {
        resize: none;
        height: 100px;
    }
}

.form__label {
    background: $white;
    color: $black;
    cursor: text;
    font-weight: bold;
    left: 1rem;
    padding: 0 0.5rem;
    top: -12px;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    z-index: 1;
}

.fortaleza__debilidad {
    .fort_deb_text {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .text {
        text-align: center;
        font-weight: bold;
    }
}

.subInput {
    margin-left: 1.3rem;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-bottom: 10px;

    @media screen and (max-width: 575px) {
        grid-template-columns: 100%;
    }
}

.btn_confirm {
    position: relative;
    margin-top: 50px;

    button {
        position: relative;
        width: 100%;
        background: $clr-primary;
        color: #ffffff;
        border: none;
        border-radius: 30px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        transition: all 0.3s ease;

        &:hover {
            background: #066598;
        }
    }
}

//boton de siguiente
.pasarEtapa {
    text-align: center;

    button {
        position: relative;
        border: none;
        text-transform: uppercase;
        border-radius: $radius;
        padding: 10px 20px;
        width: 14em;
        font-weight: bold;
        background: $clr-primary;
        color: #ffffff;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: $clr-secondary;
            z-index: -1;
            transition: all 0.3s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }

        &:disabled {
            background: #ccc;
        }
    }
}

//check
.form-check-input {
    width: 1.5rem;
    height: 1.5rem;

    &:checked {
        background-color: #009cde;
        border-color: #009cde;
    }
}
