<div class="etapa__title">
    <h3>Etapa 4: {{Preguntas.etapa4.titulo}}</h3>
</div>

<div class="etapa__info">
    <p [innerHTML]="Preguntas.etapa4.contenido"></p>
</div>


<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.a}}</label>
    <textarea id="objetivos" class="form__input form_textarea"></textarea>
</div>

<!-- #explique sobre equipo -->
<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.b}}</label>
    <select id="foda_tiempo" class="form__select" aria-label="Default select example">

        <option value="0" selected>Nunca</option>
        <option value="1">Cada medio año </option>
        <option value="2">1 año</option>
        <option value="3">2 años</option>
        <option value="4">3 años</option>
    </select>
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.b1}}</label>
    <textarea id="foda_quienes" class="form__input form_textarea"></textarea>
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.b2}}</label>
    <textarea id="foda_oportunidades" class="form__input form_textarea"></textarea>
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.b3}}</label>
    <textarea id="foda_amenazas" class="form__input form_textarea"></textarea>
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.b4}}</label>
    <textarea id="foda_estrategia" class="form__input form_textarea"></textarea>
</div>

<div class="etapa__info">
    <h5>{{Preguntas.etapa4.c.titulo}}</h5>
    <p [innerHTML]="Preguntas.etapa4.c.p1"></p>
    <p [innerHTML]="Preguntas.etapa4.c.p2"></p>
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.c.p3}}</label>
    <textarea id="politicas" class="form__input form_textarea"></textarea>
</div>

<div class="form__container">
    <label class="form__label">{{Preguntas.etapa4.c2}}</label>
    <textarea id="esquema" class="form__input form_textarea"></textarea>
</div>